<apex:component >
    <apex:pageBlock >
  <!-- Begin Default Content REMOVE THIS -->
  <h1>Congratulations</h1>
  This is your new Component
  <!-- End Default Content REMOVE THIS -->
  </apex:pageBlock>
</apex:component>